//- Header
header
    .container.clear
        .logo
            img(src="./img/logo.png", alt="")
        .contacts( *ngIf="contacts" )
            ul.phones
                li( *ngFor="let phone of contacts.phones" )
                    span {{ phone }}
        .bar( [class.active-bar]="nav-open" 
            "(click)"="toogleNavMenu($event)" 
            )
            span
            span
            span

//- Nav-menu
.menu-overlay( [class.show-menu]="nav_open" )
    ul.nav-menu( [class.navOpen]="nav_open" "*ngIf"="categories" )
        li( "*ngFor"="let t of keys(categories)"
            routerLinkActive="active_tab"
            "[class.linkClass]"="nav_open"
        )
            span: a( "[routerLink]"="categories[t]" ) {{ t }}

//- Main
main(
    "[class.fixible]"="fix_height"
)
    router-outlet
    router-outlet(name="modals")

//- Footer
footer
    .container
        div(class="col-md-{{ col_number }}")
            un.phones
                li(
                    "*ngFor"="let cont of contacts.phones"
                )
                    span {{ cont }}
        div("*ngIf"="col_number == 6" class="col-md-3")
            .mail("*ngIf"="contacts.mail.length == 1")
                .mail-item {{ contacts.mail[0] }}
            .mail("*ngIf"="contacts.mail.length > 1")
                ul.mails
                    li( "*ngFor"="let mail of contacts,mail" )
                        span {{ mail }}
        div(class="col-md-3 socials")
            ul.socials-block( "*ngIf"="contacts.socials" )
                li( "*ngFor"="let social of keys(contacts.socials)" )
                    a(href="{{ contacts.socials[social] }}" target="_blank")
                        span.fa(class="fa-{{ social }}")
                        span {{ social }}
            
